.DS_Store
/.vscode
/.mage
/.ssh
/.ddev
/config/override.settings.yaml
/var/*
!/var/labels
/vendor
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
/.php-cs-fixer.cache
/public/_assets
/composer.lock
/auth.json
